/* CSS */
.button-30 {
  font-family:"MS Sans Serif";
  font-size:15px;
  outline:1px solid #000000;
  background:#C0C0C0;
  border-width:1px;
  border-style:solid;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding: 0px 0px 20px 0;
  margin:20px auto 3px;
  display:block;
  position:relative;
  bottom:0px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #fcfcfd67 0 3px 7px inset;
  transform: translateY(2px);
}

.stop {
    background-color: #fcfcfd67;
}